<div class="col-md-6 offset-md-3 card mt-4">
  <div class="card-header bg-transparent">
    <h1>Edit device</h1>
  </div>
  <div class="card-body">
    <%= form_for(@device, url: user_device_url(@user))  do |d| %>

      <div class="form-group">
        <label class="font-weight-bold">Name: </label>
        <%= d.text_field :name, class: "form-control"%>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Mac address: </label>
        <%= d.number_field :mac_address, class: "form-control" %>
      </div>

      <div class="float-right row">
        <%= d.submit 'Save', class: "btn btn-outline-info" %>
    <% end %>
    <%= button_to('Cancel', user_devices_path, method: :get, class: "btn btn-outline-danger ml-1") %>
      </div>
  </div>
</div>
