<div class="row mt-4">
  <div class="col-sm-10">
    <h1 class="text-center background">Devices</h1>
  </div>
  <div class="col-sm-2 mt-2">
    <%= button_to('New',
          new_user_device_url(@user.id),
          method: :get,
          class: "btn btn-outline-info float-right new-button") %>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="thead">
      <th>Name</th>
      <th>Mac address</th>
      <th>Code</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>

    <% @user.devices.each do |d| %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.mac_address %></td>
        <td><%= d.code.truncate(15) %></td>
        <td><%= link_to '<i class="ion-eye">'.html_safe, user_device_url(d.user_id, d) %></td>
        <td><%= link_to '<i class="ion-edit">'.html_safe, edit_user_device_url(d.user_id, d) %></td>
        <td><%= link_to '<i class="ion-trash-a">'.html_safe,
                  user_device_url(d.user_id, d),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <%= button_to('back', root_path, method: :get, class: "btn btn-outline-dark") %>
</div>
