<div class="col-sm-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2 card mt-4">
  <div class="card-header bg-transparent">
    <h1>New device</h1>
  </div>
  <div class="card-body">
    <%= form_for([@user, @user.devices.build]) do |d| %>

      <div class="form-group">
        <label class="font-weight-bold">Name: </label>
        <%= d.text_field :name, class: "form-control"%>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Mac address: </label>
        <%= d.number_field :mac_address, class: "form-control" %>
      </div>

      <div class="float-right row">
        <%= d.submit 'Save', class: "btn btn-outline-info" %>
    <% end %>
    <%= button_to('Cancel', root_path, method: :get, class: "btn btn-outline-danger ml-1") %>
      </div>
  </div>
</div>
