<h1 class="text-center mt-4">Device</h1>
<div class="col-md-6 offset-md-3 card mt-4">
  <div class="card-header bg-transparent">
    <div class="row">
      <div class="col-sm-7">
        <h4><%= @device.name %></h4>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <dt><label>Mac address:</label></dt>
      <%= @device.mac_address%>
    </li>
    <li class="list-group-item">
      <dt><label>Code:</label></dt>
      <%= @device.code %>
    </li>
    <li class="list-group-item">
      <dt><label>User:</label></dt>
      <%= @device.user.first_name %> <%= @device.user.last_name %>
    </li>
  </ul>
  <div class="row card-footer bg-transparent">
    <div class="col-sm-2">
      <%= button_to('back', user_devices_url, method: :get, class: "btn btn-outline-dark") %>
    </div>
  </div>
</div>
