<h1 class="text-center mt-4">Device</h1>
<div class="col-sm-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2 card mt-4">
  <div class="card-header bg-transparent">
    <div class="row">
      <div class="col-sm-11">
        <h4><%= @device.name %></h4>
      </div>
      <div class="col-sm-1 float-right mt-1">
        <i><%= link_to '<i class="ion-edit">'.html_safe,
            edit_user_device_url(@user.id, @device.id) %></i>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <dt><label>Mac address:</label></dt>
      <%= @device.mac_address%>
    </li>
    <li class="list-group-item">
      <dt><label>Code:</label></dt>
      <%= @device.code %>
    </li>
    <li class="list-group-item">
      <dt><label>User:</label></dt>
      <%= @device.user.first_name %> <%= @device.user.last_name %>
    </li>
  </ul>
  <div class="row card-footer bg-transparent">
    <div class="col-sm-2">
      <%= button_to('back', user_devices_url, method: :get, class: "btn btn-outline-dark") %>
    </div>
  </div>
</div>
