<div class="row mt-4">
  <div class="col-sm-10">
    <h1 class="text-center background">Users</h1>
  </div>
  <div class="col-sm-2 mt-2">
    <%= button_to('New',
          new_user_path,
          method: :get,
          class: "btn btn-outline-info float-right new-button") %>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="thead">
      <th class="text-center">First name</th>
      <th class="text-center">Last name</th>
      <th class="text-center">Devices</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>

    <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name %></td>
        <td><%= u.last_name %></td>
        <td class="text-center"><%= u.devices.count %>
            <%= link_to '<i class="ion-navicon-round">'.html_safe, user_devices_url(u) %></td>
        <td><%= link_to '<i class="ion-eye">'.html_safe, user_path(u) %></td>
        <td><%= link_to '<i class="ion-edit">'.html_safe, edit_user_url(u) %></td>
          <td><%= link_to '<i class="ion-trash-a">'.html_safe,
                    user_path(u),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </table>
</div>
