<h1 class="text-center mt-4">User</h1>
<div class="col-sm-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2 card mt-4">
  <div class="card-header bg-transparent">
    <div class="row">
      <div class="col-sm-11">
        <h4><%= @user.first_name %> <%= @user.last_name %></h4>
      </div>
      <div class="col-sm-1 float-right mt-1">
        <i><%= link_to '<i class="ion-edit">'.html_safe, edit_user_url(@user.id) %></i>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <dt><label>Email</label></dt>
      <%= @user.email %>
    </li>
    <li class="list-group-item">
      <%= render file: "users/user_devices_list" %>
    </li>
  </ul>
  <div class="row card-footer bg-transparent">
    <div class="col-sm-2">
      <%= button_to('back', users_path, method: :get, class: "btn btn-outline-dark") %>
    </div>
  </div>
</div>
